.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.202148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.960449;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.172363;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1138.092960px;}
._0{margin-left:-911.053600px;}
._6{margin-left:-7.303296px;}
._7{margin-left:-5.135360px;}
._5{margin-left:-2.185728px;}
._3{margin-left:-1.129280px;}
._2{width:1.460160px;}
._8{width:2.617728px;}
._9{width:3.819008px;}
._4{width:216.132192px;}
.fc6{color:rgb(208,206,206);}
.fc5{color:rgb(84,130,53);}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(255,255,255);}
.fc4{color:rgb(118,113,113);}
.fc0{color:rgb(31,78,121);}
.fc1{color:rgb(231,230,230);}
.fs7{font-size:72.000000px;}
.fs3{font-size:72.096000px;}
.fs2{font-size:79.680000px;}
.fs5{font-size:96.000000px;}
.fs4{font-size:96.096000px;}
.fs1{font-size:112.320000px;}
.fs8{font-size:112.416000px;}
.fs6{font-size:127.680000px;}
.fs0{font-size:127.776000px;}
.y0{bottom:0.000000px;}
.y7{bottom:41.712000px;}
.y18{bottom:47.208000px;}
.y1c{bottom:47.304000px;}
.y17{bottom:68.808000px;}
.y1b{bottom:68.904000px;}
.y6{bottom:70.536000px;}
.y13{bottom:92.136000px;}
.y16{bottom:93.072000px;}
.y1a{bottom:93.144000px;}
.y8{bottom:93.720000px;}
.y11{bottom:94.608000px;}
.y5{bottom:128.160000px;}
.y10{bottom:161.710000px;}
.y4{bottom:177.140000px;}
.yb{bottom:191.540000px;}
.y3{bottom:201.380000px;}
.yf{bottom:204.910000px;}
.ya{bottom:253.700000px;}
.ye{bottom:257.020000px;}
.yd{bottom:306.000000px;}
.y9{bottom:311.590000px;}
.yc{bottom:330.240000px;}
.y12{bottom:380.760000px;}
.y14{bottom:434.690000px;}
.y2{bottom:435.700000px;}
.y1e{bottom:438.020000px;}
.y19{bottom:439.390000px;}
.y15{bottom:440.950000px;}
.y1{bottom:441.860000px;}
.y1d{bottom:441.960000px;}
.h8{height:71.613281px;}
.h4{height:71.708766px;}
.ha{height:73.722656px;}
.hd{height:73.820953px;}
.h9{height:79.252031px;}
.h6{height:95.484375px;}
.h5{height:95.579859px;}
.hb{height:101.807344px;}
.h2{height:101.883891px;}
.h3{height:115.007344px;}
.hc{height:115.105641px;}
.h7{height:130.734844px;}
.h1{height:130.833141px;}
.h0{height:540.000000px;}
.w1{width:959.999986px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x3{left:131.499986px;}
.xc{left:135.839986px;}
.x14{left:179.779986px;}
.x16{left:373.989986px;}
.x11{left:379.969986px;}
.x13{left:389.179986px;}
.x8{left:397.699986px;}
.x9{left:453.549986px;}
.xa{left:457.629986px;}
.xb{left:490.869986px;}
.x5{left:531.889986px;}
.x7{left:536.329986px;}
.xf{left:545.759986px;}
.x15{left:564.739986px;}
.x1{left:570.359986px;}
.x6{left:579.409986px;}
.x12{left:642.549986px;}
.x4{left:645.599986px;}
.xd{left:656.589986px;}
.xe{left:715.389986px;}
.x10{left:731.059986px;}
.x2{left:743.419986px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1517.457280pt;}
._0{margin-left:-1214.738133pt;}
._6{margin-left:-9.737728pt;}
._7{margin-left:-6.847147pt;}
._5{margin-left:-2.914304pt;}
._3{margin-left:-1.505707pt;}
._2{width:1.946880pt;}
._8{width:3.490304pt;}
._9{width:5.092011pt;}
._4{width:288.176256pt;}
.fs7{font-size:96.000000pt;}
.fs3{font-size:96.128000pt;}
.fs2{font-size:106.240000pt;}
.fs5{font-size:128.000000pt;}
.fs4{font-size:128.128000pt;}
.fs1{font-size:149.760000pt;}
.fs8{font-size:149.888000pt;}
.fs6{font-size:170.240000pt;}
.fs0{font-size:170.368000pt;}
.y0{bottom:0.000000pt;}
.y7{bottom:55.616000pt;}
.y18{bottom:62.944000pt;}
.y1c{bottom:63.072000pt;}
.y17{bottom:91.744000pt;}
.y1b{bottom:91.872000pt;}
.y6{bottom:94.048000pt;}
.y13{bottom:122.848000pt;}
.y16{bottom:124.096000pt;}
.y1a{bottom:124.192000pt;}
.y8{bottom:124.960000pt;}
.y11{bottom:126.144000pt;}
.y5{bottom:170.880000pt;}
.y10{bottom:215.613333pt;}
.y4{bottom:236.186667pt;}
.yb{bottom:255.386667pt;}
.y3{bottom:268.506667pt;}
.yf{bottom:273.213333pt;}
.ya{bottom:338.266667pt;}
.ye{bottom:342.693333pt;}
.yd{bottom:408.000000pt;}
.y9{bottom:415.453333pt;}
.yc{bottom:440.320000pt;}
.y12{bottom:507.680000pt;}
.y14{bottom:579.586667pt;}
.y2{bottom:580.933333pt;}
.y1e{bottom:584.026667pt;}
.y19{bottom:585.853333pt;}
.y15{bottom:587.933333pt;}
.y1{bottom:589.146667pt;}
.y1d{bottom:589.280000pt;}
.h8{height:95.484375pt;}
.h4{height:95.611687pt;}
.ha{height:98.296875pt;}
.hd{height:98.427937pt;}
.h9{height:105.669375pt;}
.h6{height:127.312500pt;}
.h5{height:127.439812pt;}
.hb{height:135.743125pt;}
.h2{height:135.845187pt;}
.h3{height:153.343125pt;}
.hc{height:153.474187pt;}
.h7{height:174.313125pt;}
.h1{height:174.444187pt;}
.h0{height:720.000000pt;}
.w1{width:1279.999981pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x3{left:175.333314pt;}
.xc{left:181.119981pt;}
.x14{left:239.706648pt;}
.x16{left:498.653314pt;}
.x11{left:506.626648pt;}
.x13{left:518.906648pt;}
.x8{left:530.266648pt;}
.x9{left:604.733314pt;}
.xa{left:610.173314pt;}
.xb{left:654.493314pt;}
.x5{left:709.186648pt;}
.x7{left:715.106648pt;}
.xf{left:727.679981pt;}
.x15{left:752.986648pt;}
.x1{left:760.479981pt;}
.x6{left:772.546648pt;}
.x12{left:856.733314pt;}
.x4{left:860.799981pt;}
.xd{left:875.453314pt;}
.xe{left:953.853314pt;}
.x10{left:974.746648pt;}
.x2{left:991.226648pt;}
}
